div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .content {
    margin-left: 200px;
    padding: 1px 16px;
    /* height: 1000px; */
  }
  .card{
    margin-top: 10%;
  }
  table, th, td {
    border:1px solid black;
  }

  .content2 {
    margin-left: 200px;
    padding: 1px 16px;
    /* height: 80px; */
    margin-top: 2%;
  }
  th,td{
      width: 17%;
      height: 50px;
      text-align: center;
  }
  .tablecss{
    margin-top: 1%;
    margin-bottom: 5%;
  }
